*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    
}
body{
    background-color:#bbd0ff ;
    
}
header{
    text-align: center;
    margin-top: 50px;
}
header h1{
    text-transform: uppercase;
    margin-bottom: 10px;
    color:#708dff
}
header h3{
    color:#708dff ;
}
.inputs-container{
    width: 1000px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.inputs-container input{
padding: 12px 0px 12px 10px;
border-radius: 7px;
margin-bottom: 10px;
outline-color: #4895ef;
border: none;
background-color: white;
border: solid 1.5px white;
}

.inputs-container #title,
.inputs-container #count,
.inputs-container #search,
.inputs-container #category{
    width: 100%;
}
.inputs-container .total{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 160px ;
    column-gap: 10px;
}
.inputs-container .total p{
    background-color: #E24D4C ;
    border-radius: 7px;
    text-transform:uppercase;
    height: 39.33px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-weight: bold;
    padding-right: 7px;
    width: fit-content;
    min-width: 160px;

   
}
.inputs-container .total p #total-value{
    color:#fff;
    padding-left: 5px;
    font-weight: normal;
}
.inputs-container .search{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.inputs-container .search button{
    width: 40%;
    padding: 10px 0px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #708dff ;
    color: white;
    font-size: 20px;
}
.inputs-container #create ,
.inputs-container #deleteAll{
   width: 100%;
   padding: 10px 0px;
   outline: none;
   border: none;
   border-radius: 7px;
   font-size: 20px;
   margin: 10px 0px;
   cursor: pointer;
   background-color: #708dff ;
   color: white;
}

.emptyInput::placeholder{
    color: red

}
.emptyInput{
    border-color: #ef233c !important
}
.inputs-container #deleteAll{
    display:none;
}
.inputs-container button:hover{
    background-color: #4361ee;
    transition: 0.3s;
}
.table{
    max-width: 100%;
    overflow-x: auto;
}
table{
  width: 1000px;
  background-color:#f5f5f5;
  border-radius: 10px;
  padding-bottom: 200px;
  margin: 15px auto 50px;
  border-spacing: 0;
}

table tr{
    margin: 10px 0px;
    border-bottom: solid 1px #ddd;

}
table tr th{
    color:#192f39;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px;
    font-weight: normal;
    border-bottom: solid 1px #4895ef;
}
table tr td{
    padding: 10px;
    font-size: 18px;
    text-align: center;
    
}
table tr td button{
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    color: azure;
    
}
table tr:nth-child(even){
    background-color: #edf2f4
}
table tr td .delete{
    background-color: #E24D4C ;
}
table tr td .update{
    background-color:#3498DB ;

}

@media (max-width:1200px){
    .inputs-container
    {
        width: calc(100% - 40px);
    }
    .table{
        margin:  0 20px;
    }
    table{
        width: 100%;
    }
    .inputs-container .total{
        display: flex;
        flex-direction: column;
    }
    .inputs-container .total p{
        margin-bottom: 10px;

    }
}
@media (max-width:666px){
    .search{
        flex-direction: column;
    }
    .search button{
        margin-bottom: 10px;
        display: block;
        width: 100% !important;
    }
}

@media (max-width:400px){
    .inputs-container .total {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
